
<div>
  <span>Usuario</span>
  <input [(ngModel)]="user"/>
</div>

<div *ngFor="let chatMessage of chatMessages">
  <span>{{ user }} :</span>
  <span>{{ chatMessage.text }}</span>
</div>

<div *ngIf="user?.length > 0">
  <input [(ngModel)]="clientMessage"
         (keyup.enter)="sendMessage()"/>

  <button (click)="sendMessage()">Send</button>
</div>

