<div id="app-container" class="app-container">

  <!--<header></header>-->
  <nav id="app-header" class="app-header">

      <div class="left-header" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">
        <!--Left-->
        <span style="background: cadetblue;">Logo</span>
        <span>Trivial</span>
      </div>

      <div class="right-header">
        <!--Right-->
        <span routerLink="chat" routerLinkActive="active">Chat</span>

        <button class="log-in-button">Inicia sesión</button>
        <button class="sign-in-button">Regístrate</button>
        <button class="mobile-menu-button">Mobile</button>
      </div>

  </nav>

  <div id="app-content" class="app-content">

    <router-outlet></router-outlet>

  </div>

</div>



