
.app-container {
  background-color: darkorange;
  display: flex;
  flex-wrap: wrap;

  .app-header {
    display: flex;
    flex-basis: 100%;

    .left-header {
      align-items: center;
      background-color: pink;
      display: flex;
      justify-content: flex-start;
    }

    .right-header {
      align-items: center;
      background-color: bisque;
      display: flex;
      justify-content: flex-end;
      flex: 1;

      .log-in-button, .sign-in-button {
        display: none;
      }
    }
  }

  .app-content {
    background-color: indianred;
    flex-basis: 100%;
  }

}

@media all and (min-width: 640px) {
  .app-container {

    .app-header {

      .right-header {

        .log-in-button, .sign-in-button {
          display: block;
        }
        .mobile-menu-button {
          display: none;
        }
      }
    }
  }

}


